@charset "utf-8";
/* CSS Document */


* {
	margin: 0;
	padding: 0;
	border: none;
}

.headline{
	flex-wrap: wrap;
	margin: 50px 15px 15px 15px;
	height: 90px;
	text-align: left;
}

h1 {
	padding-bottom: 15px;
}
h2{
	font-size: 15px;
}

.line{
	display: flex;
}

.text{
	margin: auto 15px auto 15px;
	width: 50%;
	text-align: justify;
	line-height: 1.7;
	
}
.billedeitekst{ 
	max-width: 100%;
	margin-top: 100px;;
	/*border: 2px solid #1a8089;*/
}
.dividiv{
	width: 100%;
	text-align: center;
}
.linepictures{
	width: 50%;
	margin: 15px;
}
.linepictures img{
	width: 100%;
	/*border: 2px solid #1a8089;*/
}

.linepicturesbottom{
	width: 50%;
	margin: 15px;
}
.linepicturesbottom img{
	width: 100%;
	/*border: 2px solid #1a8089;*/
}

/*.description{
	border: 1px solid blue;
	height: 80px;
	width: 70%;
	padding: 40px 0 0 0;

}*/

/*
.intro-explanation{
	border: 1px solid #82D422;
	margin: 15px;
	width: 50%;
	position: relative;
	top: 100px;
	float: right;

	}

.intro-explanation2{
	border: 1px solid #82D422;
	margin: 15px;
	min-width: 200px;
	position: relative;
	height: 100px;
	right: 600px;
	top: 300px;
}


#whome-billede{
	height: 300px;
	margin: 15px;
	position: relative;
	top: 150px;
	right: 300px;
	border: 1px solid #82D422;
}

#kahoot-billede{
	height: 300px;
	margin: 15px;
	position: relative;
	top: 550px;
	left: 300px;
	border: 1px solid #82D422;
}
*/
