@charset "utf-8";
/* CSS Document */


* {
	margin: 0;
	padding: 0;
	border: none;
}

.mainproject{
	min-width: 70%;
	width: 70%;
	min-height:90vh; 
	margin-left: auto;
	margin-right: auto;
	border: 5px dotted red;
}
.headline{
	border: 1px solid red;
	margin: 15px;
	height: 90px;
	text-align: left;
}

h1 {
	padding-bottom: 15px;
}
h2{
	font-size: 15px;
}

.line-one,.line-two{
	display: flex;
}

.text{
	height: 400px;
	width: 40%;
	text-align: center;
	border: 1px solid red;
}
img{
	
	width: 50%;
	object-fit: contain;
	border: 1px solid red;
}
/*.description{
	border: 1px solid blue;
	height: 80px;
	width: 70%;
	padding: 40px 0 0 0;

}*/

/*
.intro-explanation{
	border: 1px solid #82D422;
	margin: 15px;
	width: 50%;
	position: relative;
	top: 100px;
	float: right;

	}

.intro-explanation2{
	border: 1px solid #82D422;
	margin: 15px;
	min-width: 200px;
	position: relative;
	height: 100px;
	right: 600px;
	top: 300px;
}


#whome-billede{
	height: 300px;
	margin: 15px;
	position: relative;
	top: 150px;
	right: 300px;
	border: 1px solid #82D422;
}

#kahoot-billede{
	height: 300px;
	margin: 15px;
	position: relative;
	top: 550px;
	left: 300px;
	border: 1px solid #82D422;
}
*/
