@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	border: none;
	
}

#header {
	
	padding: 20px;
	justify-content: space-between;
	margin: auto;
	overflow: auto;
	
}

/* SOME images */
#someimages{
	display: flex;
	height: 20px;
	float: right;
	margin-right: 110px;
}

#someimages img{
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

#forsidebillede{
	display: flex;
}

#forsidebillede img{
	height: 600px; 
}

#penbillede{
	display: flex;
	position: relative;
	bottom: 451px;
	left: 999px;
}

#penbillede img{
	height: 190px;
}

#skrift{
	display: flex;
	position: relative;
	bottom: 650px;
	left: 430px;
}

#skrift img{
	height: 250px;
}