@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Mali', cursive;
}

body {
	background-color:#E9EBEE;
	text-align: center;
}

.main {
	min-width: 99%;
	min-height: 90vh;
	padding: 2px;
	}

.main-special{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 60px;
}

#maintekst{
	font-size: 60px;
}