@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background-color: #3D3B3B;
}

.main {
	border: 3px solid red;
	min-width: 99%;
	min-height: 90vh;
	padding: 2px;
	}

.main-special{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
align-content: flex-start;
}

#maintekst{
	font-size: 60px;}