@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	border: none;
}

#main {
	display: flex;
	border: 3px solid red;
	background-repeat: no-repeat;
	background-size: cover;
	width: 99%;
	height: 500px;
	padding: 2px;
	}

#maintekst{
	font-size: 60px;}