@charset "utf-8";
/* CSS Document */

/** {
	margin: 0;
	padding: 0;
	border: none;
	
}*/

body {
	background-color:#E9EBEE;
	text-align: center;
	font-family: 'Mali', cursive;
}

.main{
	min-width: 70%;
	width: 70%;
	min-height:90vh; 
	margin-left: auto;
	margin-right: auto;

	 }
#maintekst{
	font-size: 60px;
}

