@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	border: none;
}

.mainproject{
	display: flex;
	flex-wrap: wrap;
	min-width: 70%;
	width: 70%;
	min-height:90vh; 
	margin-left: auto;
	margin-right: auto;
	 }

.projekter{
	min-width: 300px;
	width: 50%;
	}

.projekter img {
	width: 95%;
	cursor: pointer;
	margin: 50px 15px;
}

.projekter img:hover{
	opacity: 0.5;
}

h1 {
	position: relative;
	bottom: 260px;
	color: #FFFFFF;
	font-weight: strong;
	text-align: center;
	cursor: pointer;
	pointer-events: none;
	height: 0;
	text-shadow: 2px 2px black;
}

