@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	border: none;
}

.projekter{
	width: 500px; 
	min-width: 30%;
	margin: 30px;

	}

.projekter img {
	width: 100%;
	cursor: pointer;
}

.projekter img:hover{
	opacity: 0.5;
}


h1 {
	position: relative;
	bottom: 200px;
	color: #FFFFFF;
	font-weight: strong;
	text-align: center;
	cursor: pointer;
	pointer-events: none;
	height: 0;
	text-shadow: 2px 2px black;
}


