@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Mali', cursive;
}

#nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	font-size: 18px;
}
#nav .normalnavi{
	text-decoration: none;
	color: #1a8089;
	text-align: center;
	width:200px;
	display: inline-block;
}

#nav a:hover{
	color: #4DD1DD;
}

#logo img{
	vertical-align: middle;
	height: 150px;
}